Repository wsvaio/api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write--parser json, prettier --write

wip: next
  .prettierrc.json
  README.md
  package-lock.json
  package.json
  playground/App.vue
  playground/api.ts
  playground/env.d.ts
  playground/index.html
  playground/main.ts
  playground/vite.config.ts
  src/context.ts
  src/createAPI.ts
  src/index.ts
  src/middleware.ts
  src/request.ts
  src/types.ts
  tsconfig.json
Due: eslint --fix, prettier --write--parser json, prettier --write

release: 1.0.0-0
  README.md
  package.json
  playground/App.vue
  playground/api.ts
  src/context.ts
  src/createAPI.ts
  src/middleware.ts
  src/request.ts
Due: eslint --fix, prettier --write--parser json, prettier --write

build: 预发布
  package.json
Due: prettier --write--parser json

1.0.1-0
  package-lock.json
  package.json
Due: prettier --write--parser json

1.0.0-0
  package-lock.json
  package.json
Due: prettier --write--parser json

fix: createAPI 返回值泛型未设置
  src/createAPI.ts
Due: eslint --fix

build: package.json 添加两个打包命令
  package.json
Due: prettier --write--parser json

build: package 添加prerelease script
  package.json
Due: prettier --write--parser json

1.0.1-1
  package-lock.json
  package.json
Due: prettier --write--parser json

1.0.2-0
  package-lock.json
  package.json
Due: prettier --write--parser json

1.0.3-0
  package-lock.json
  package.json
Due: prettier --write--parser json

build: 版本回撤
  package.json
Due: prettier --write--parser json

docs: rEADME.md 错误修改
  LICENSE
  README.md
Due: prettier --write

1.0.0-2
  package-lock.json
  package.json
Due: prettier --write--parser json

build: 依赖更新
  README.md
  package-lock.json
  package.json
Due: prettier --write--parser json, prettier --write

feat: param拼接略微优化
  package-lock.json
  package.json
  playground/App.vue
  playground/api.ts
  src/middleware.ts
  tsconfig.json
Due: eslint --fix, prettier --write--parser json

1.0.0
  package-lock.json
  package.json
Due: prettier --write--parser json

build: 打包命令修改
  package.json
Due: prettier --write--parser json

fix: cannot read properties of null (reading 'forEach')
  playground/api.ts
  src/middleware.ts
Due: eslint --fix

1.0.1
  package-lock.json
  package.json
Due: prettier --write--parser json

fix: 错误时改为抛出ctx
  src/middleware.ts
Due: eslint --fix

1.0.2
  package-lock.json
  package.json
Due: prettier --write--parser json

build(package): scripts更新
  docs/functions/createAPI.html
  docs/functions/run.html
  docs/functions/setGlobalContext.html
  docs/interfaces/BaseContext.html
  docs/interfaces/CreateAPIResult.html
  docs/interfaces/CurryingResult.html
  docs/interfaces/MiddlewareContext.html
  docs/interfaces/RequestType.html
  docs/interfaces/ResponseType.html
  docs/types/AfterContext.html
  docs/types/BeforeContext.html
  docs/types/ConfigContext.html
  docs/types/Context.html
  docs/types/ErrorContext.html
  docs/types/FinalContext.html
  package.json
Due: prettier --write--parser json

1.0.3
  package.json
Due: prettier --write--parser json

wip: 类型优化更新
  docs/assets/search.js
  docs/functions/createAPI.html
  docs/functions/run.html
  docs/functions/setGlobalContext.html
  docs/index.html
  docs/interfaces/BaseContext.html
  docs/interfaces/CreateAPIResult.html
  docs/interfaces/CurryingResult.html
  docs/interfaces/MiddlewareContext.html
  docs/interfaces/RequestType.html
  docs/interfaces/ResponseType.html
  docs/modules.html
  docs/types/AfterContext.html
  docs/types/BasicContext.html
  docs/types/BeforeContext.html
  docs/types/Context.html
  docs/types/ErrorContext.html
  docs/types/Middleware.html
  docs/types/Params.html
  package.json
  playground/App.vue
  playground/api.ts
  pnpm-lock.yaml
  src/context.ts
  src/createAPI.ts
  src/index.ts
  src/middleware.ts
  src/request.ts
  src/types.d.ts
Due: eslint --fix, prettier --write--parser json

refactor: 对类型进行大重构
  .eslintrc.json
  README.md
  dist - 副本/index.cjs
  dist - 副本/index.d.ts
  dist - 副本/index.js
  docs/assets/search.js
  docs/functions/createAPI.html
  docs/functions/run.html
  docs/index.html
  docs/modules.html
  docs/types/AfterContext.html
  docs/types/BasicContext.html
  docs/types/BeforeContext.html
  docs/types/Context.html
  docs/types/ErrorContext.html
  docs/types/FinalContext.html
  docs/types/Middleware.html
  docs/types/Params.html
  playground/App.vue
  playground/api.ts
  src/context.ts
  src/createAPI.ts
  src/request.ts
  src/types.d.ts
Due: eslint --fix, prettier --write--parser json, prettier --write

1.1.0-0
  package.json
Due: prettier --write--parser json

perf: 类型体积优化
  docs/assets/search.js
  docs/functions/createAPI.html
  docs/functions/run.html
  docs/index.html
  docs/interfaces/CreateAPIResult.html
  docs/interfaces/RequestType.html
  docs/interfaces/ResponseType.html
  docs/modules.html
  docs/types/AfterContext.html
  docs/types/BasicContext.html
  docs/types/BeforeContext.html
  docs/types/Context.html
  docs/types/ErrorContext.html
  docs/types/FinalContext.html
  docs/types/Middleware.html
  playground/api.ts
  src/createAPI.ts
  src/request.ts
  src/types.d.ts
Due: eslint --fix

1.1.0-1
  package.json
Due: prettier --write--parser json

fix: 类型错误
  dist - 副本/index.cjs
  dist - 副本/index.d.ts
  dist - 副本/index.js
  docs/functions/createAPI.html
  docs/functions/run.html
  docs/interfaces/CreateAPIResult.html
  docs/interfaces/RequestType.html
  docs/interfaces/ResponseType.html
  docs/types/AfterContext.html
  docs/types/BasicContext.html
  docs/types/BeforeContext.html
  docs/types/Context.html
  docs/types/ErrorContext.html
  docs/types/FinalContext.html
  playground/App.vue
  playground/api.ts
  src/createAPI.ts
  src/request.ts
  src/types.d.ts
Due: eslint --fix

1.1.0-2
  package.json
Due: prettier --write--parser json

fix: 类型错误
  docs/assets/search.js
  docs/functions/createAPI.html
  docs/functions/run.html
  docs/index.html
  docs/interfaces/CreateAPIResult.html
  docs/interfaces/RequestType.html
  docs/interfaces/ResponseType.html
  docs/modules.html
  docs/types/AfterContext.html
  docs/types/BasicContext.html
  docs/types/BeforeContext.html
  docs/types/Context.html
  docs/types/ErrorContext.html
  docs/types/FinalContext.html
  docs/types/Middleware.html
  docs/types/WrapperResult.html
  src/createAPI.ts
  src/request.ts
  src/types.d.ts
Due: eslint --fix

1.1.0-3
  package.json
Due: prettier --write--parser json

docs: 错误修改
  README.md
  docs/functions/createAPI.html
  docs/functions/run.html
  docs/index.html
  docs/interfaces/CreateAPIResult.html
  docs/interfaces/RequestType.html
  docs/interfaces/ResponseType.html
  docs/types/AfterContext.html
  docs/types/BasicContext.html
  docs/types/BeforeContext.html
  docs/types/Context.html
  docs/types/ErrorContext.html
  docs/types/FinalContext.html
  docs/types/WrapperResult.html
  src/types.d.ts
Due: eslint --fix, prettier --write

build: tsup 依赖更新
  docs/functions/createAPI.html
  docs/functions/run.html
  docs/interfaces/CreateAPIResult.html
  docs/interfaces/RequestType.html
  docs/interfaces/ResponseType.html
  docs/types/AfterContext.html
  docs/types/BasicContext.html
  docs/types/BeforeContext.html
  docs/types/Context.html
  docs/types/ErrorContext.html
  docs/types/FinalContext.html
  docs/types/WrapperResult.html
  package.json
  pnpm-lock.yaml
Due: prettier --write--parser json

feat: 优化类型；添加一个normailze方法；
  docs/assets/search.js
  docs/functions/createAPI.html
  docs/functions/normalize.html
  docs/functions/run.html
  docs/index.html
  docs/interfaces/CreateAPIResult.html
  docs/interfaces/RequestType.html
  docs/interfaces/ResponseType.html
  docs/modules.html
  docs/types/AfterContext.html
  docs/types/BasicContext.html
  docs/types/BeforeContext.html
  docs/types/Context.html
  docs/types/ErrorContext.html
  docs/types/FinalContext.html
  docs/types/Middleware.html
  docs/types/WrapperResult.html
  package.json
  playground/App.vue
  playground/api.ts
  pnpm-lock.yaml
  src/context.ts
  src/index.ts
  src/middleware.ts
  src/request.ts
  src/types.d.ts
Due: eslint --fix, prettier --write--parser json

1.1.0
  package.json
Due: prettier --write--parser json

fix: normileze 后 应当删除ctx.error
  docs/assets/search.js
  docs/functions/createAPI.html
  docs/functions/normalize.html
  docs/functions/run.html
  docs/interfaces/CreateAPIResult.html
  docs/interfaces/RequestType.html
  docs/interfaces/ResponseType.html
  docs/types/AfterContext.html
  docs/types/BasicContext.html
  docs/types/BeforeContext.html
  docs/types/Context.html
  docs/types/ErrorContext.html
  docs/types/FinalContext.html
  docs/types/Middleware.html
  docs/types/WrapperResult.html
  package.json
  pnpm-lock.yaml
  src/middleware.ts
  src/types.d.ts
Due: eslint --fix, prettier --write--parser json

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write--parser json: any of: *.json
  prettier --write: any of: *.md
