Repository wsvaio/api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write--parser json, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "*.json": [
    "prettier --write--parser json"
  ],
  "*.md": [
    "prettier --write"
  ]
}

1.1.1
  package.json
Due: prettier --write--parser json

wip: 2.0开发中
  .editorconfig
  .eslintignore
  .eslintrc.json
  .prettierignore
  .prettierrc.json
  .vscode/settings.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/createAPI copy.ts
  src/createAPI.ts
  tsconfig.json
  tsup.config.ts
Due: eslint --fix, prettier --write--parser json

wip: next
  playground/App.vue
  playground/api.ts
  playground/env.d.ts
  playground/vite.config.ts
  src/context.ts
  src/createAPI.ts
  src/creater.ts
  src/executer.ts
  src/index.ts
  src/middleware.ts
  src/requester.ts
  src/types.d.ts
  src/utils.ts
  src/wrapper.ts
Due: eslint --fix

wip: next
  playground/App.vue
  playground/api.ts
  src/context.ts
  src/creater.ts
  src/executer.ts
  src/requester.ts
  src/types.d.ts
  src/wrapper.ts
Due: eslint --fix

feat: 更新支持多平台
  README copy.md
  playground/App.vue
  playground/api.ts
  src/context.ts
  src/creater.ts
  src/creator.ts
  src/executer.ts
  src/index.ts
  src/middleware.ts
  src/requester.ts
  src/types.d.ts
  src/utils.ts
  src/wrapper.ts
Due: eslint --fix, prettier --write

2.0.0-0
  package.json
Due: prettier --write--parser json

feat: nuxt与uniapp的requester
  README.md
  package.json
  playground/api.ts
  pnpm-lock.yaml
  src/context.ts
  src/creator.ts
  src/requester.ts
  src/types.d.ts
  src/wrapper.ts
  tsconfig.json
Due: eslint --fix, prettier --write--parser json, prettier --write

2.0.0-1
  package.json
Due: prettier --write--parser json

fix: ctx.origin 改为 ctx.base
  playground/api.ts
  src/context.ts
  src/middleware.ts
  src/types.d.ts
Due: eslint --fix

2.0.0-2
  package.json
Due: prettier --write--parser json

docs: 文档更新
  README.md
Due: prettier --write

fix: currying更新
  playground/api.ts
  src/creator.ts
  src/executer.ts
  src/requester.ts
  src/wrapper.ts
Due: eslint --fix

2.0.0-3
  package.json
Due: prettier --write--parser json

fix: exec现在更加合理（会动态移除ctx.error若有），小程序context3问题，ntiveFetch对get与head方法body的处理
  README.md
  src/context.ts
  src/executer.ts
  src/middleware.ts
  src/requester.ts
Due: eslint --fix, prettier --write

fix: exec现在更加合理（会动态移除ctx.error若有），小程序context3问题，ntiveFetch对get与head方法body的处理
  src/context.ts
Due: eslint --fix

2.0.0-4
  package.json
Due: prettier --write--parser json

fix: Cannot read properties of undefined (reading 'getTime')
  src/middleware.ts
Due: eslint --fix

2.0.0-5
  package.json
Due: prettier --write--parser json

fix: 请求返回的promise没有context的属性
  playground/App.vue
  src/executer.ts
  src/wrapper.ts
Due: eslint --fix

2.0.0-6
  package.json
Due: prettier --write--parser json

fix: wrapper返回值，ctx寄存
  playground/App.vue
  src/wrapper.ts
Due: eslint --fix

2.0.0-7
  package.json
Due: prettier --write--parser json

fix: post、get等方法，类型系统异常
  src/executer.ts
  src/wrapper.ts
Due: eslint --fix

2.0.0-8
  package.json
Due: prettier --write--parser json
